*.xlsm
.Rproj.user
.vscode/
.Rhistory
.DS_Store

output/
obsolete/

AgeDepthModel/
DamageAnalysis/
DominantSpecies/
MAG/
OxCal_model/
SequenceExtraction/
TraitAnalysis/
VariantCalling/
manuscript2_plots/
manuscript3_plots/
output_indiv/
src/
R.anthromes/
R.community/
R.pd/
R.lda/

*.swp
*subtree*
