# Define environment variables as global constants or use ENV for flexibility
const WORK_DIR = "/YOUR_PATH/"

# Alternatively, if you want to use environment variables from the OS:
#ENV["DATA"] = "/YOUR_PATH_2/"

